* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.box {
  width: 10rem;
  height: 10rem;
  font-size: 1.4rem;
  border: 1px solid royalblue;
}

.static {
  background-color: hotpink;
  position: static;
  z-index: 2;
}
.relative-1 {
  background-color: rgba(244, 165, 96, 0.918);
  position: relative;
  top: 0rem;
  left: 10rem;
}
